@import "styles-assets/variables.scss";

.header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $headerFontColor;
    font-size: $headerFontSize;

    a {
        text-decoration: none;
        color: $headerFontColor;
    }

    &_logo-container {
        letter-spacing: 6px;

        &--narrow-letters {
            letter-spacing: 5px;
        }
    }

    &_buttons-container {
    }
}

.github-button {
    border: 1px solid $headerFontColor;
    border-radius: 2px;
    padding: 10px 20px;
}
