:host {
    position: relative;
    background: radial-gradient(ellipse at right bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 47%,rgba(255,255,255,0) 100%);
}

.bg {
    position: absolute;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;

    &:hover {
        opacity: 1;
    }
}

// https://codepen.io/Paul2512C/pen/JxKvpb    - sposób na zmieniające się tło. Trzeba zrobić takie .bg poprzed pseudoklasę