<div class="workspace container">
    <div class="main-menu">

        <app-main-content-item [routerLink]="['/gallery']" class="main-menu_item main-menu_item--gallery">
            <p>
                hobby<br>
                painting<br>
                gallery<br>
            </p>
        </app-main-content-item>
        <app-main-content-item [routerLink]="['/profession']" class="main-menu_item main-menu_item--profession">
            <p>
                CV<br>
                profession<br>
            </p>
        </app-main-content-item>
        <app-main-content-item [routerLink]="['/featured']" class="main-menu_item main-menu_item--featured">
            <p>
                my app<br>
                featured<br>
                coding<br>
            </p>
        </app-main-content-item>

    </div>

</div>