/* You can add global styles to this file, and also import other style files */

$toolbarHeight: 70px;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.workspace {
    height: calc(100% - 70px);
}

.toolbar {
    height: $toolbarHeight;
    background-color: pink;
}