@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./styles-assets/variables";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: Verdana, sans-serif;
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
}

.workspace {
  height: calc(100% - 70px);
}

.toolbar {
  height: $toolbarHeightMobile;
  background-color: #004c66;
}

// material override - create seperate partial

.gallery-dialog .mat-dialog-container {
  padding: 0;
}

@media (min-width: $desktopBreakpoint) {
  .workspace {
    height: calc(100% - 100px);
  }

  .toolbar {
    height: $toolbarHeight;
  }
}
