
$toolbarHeight: 70px;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.workspace {
    height: calc(100% - 70px);
}

.toolbar {
    height: $toolbarHeight;
    background-color: pink;
}


// material override - create seperate partial

.gallery-dialog .mat-dialog-container {
  padding: 0;
}