<div class="workspace container">
    <h1>{{characterData.name}}</h1>
    <h3>Ma: {{characterData.money | GoldenCrownsPipe}} Koron, 
      {{ characterData.money | SilverPipe}} Szylingów, 
      {{ characterData.money | PennyPipe}} Pensów
    </h3>
    <h3>history:</h3>
    <p *ngFor="let history of characterData.history">
      <span>{{history.value}} - </span><span>{{history.note}}</span>
    </p>

    <form [formGroup]="testFormGroup">
        <mat-form-field>
          <mat-label>How much money</mat-label>
          <input type="number" matInput
          formControlName="moneyValue" 
          placeholder="your money">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Note</mat-label>
          <input type="text" matInput
          formControlName="note" 
          placeholder="note something">
        </mat-form-field>
      </form>
      <button mat-raised-button color="primary" (click)="update()">SEND and UPDATE</button>
      <p>{{testFormGroup.value}}</p>
</div>
